@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: white;
  width: 350px;
  height: 600px;
  border-radius: 20px;
}
picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0px 0px;
}
.info {
  margin-left: 20px;
}
.productType {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Montserrat";
}
.productName {
  font-family: "Fraunces";
  color: hsl(212, 21%, 14%);
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
}
.productExplanation {
  color: hsl(228, 12%, 48%);
  width: 300px;
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.3em;
}
.costSection {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  font-family: "Fraunces";
}
.cost {
  font-weight: bold;
  color: hsl(158, 36%, 37%);
  font-size: 35px;
}
.costReduct {
  color: hsl(158, 36%, 37%);
  font-size: 13px;
  margin-top: 20px;
  text-decoration: line-through;
}
button {
  color: white;
  font-weight: bold;
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  margin-top: 20px;
  height: 3em;
  width: 22em;
  border: none;
}
button:hover {
  background-color: green;
}
button:active {
  background-color: green;
}
@media (min-width: 376px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
  }

  .imageContainer {
    flex: 1;
  }

  picture img {
    border-radius: 0;
    height: 100%;
    object-fit: cover;
  }

  .info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button {
    margin-bottom: 30px;
    height: 4em;
  }

  .productExplanation {
    width: auto;
  }
}
